<template>
    <div class="app-dashboard">

        <div class="justify-content-between">
            <div class="card">
                <div class="card-header">
                  Repositories

                  <button @click="openFileDialog()">Add</button>
                </div>
                <div class="card-body">
                    <div v-if="repos.length === 0">No repositories</div>
                    <div class="repo" v-for="(repo, key) in repos" :key="key">

                      <div class="repo-title" @click="selectRepo(repo.path)">
                        {{ repo.name }}
                      </div>
                      <div class="repo-options" @click="deleteRepo(key)">
                        <i class="fas fa-fw fa-trash"></i>
                      </div>
                    </div>
                </div>
            </div>


            <div class="commit">
                <div v-for="(item, key) in commits" :key="key">
                    {{item}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Git } from "../Git.js";

import { ipcRenderer } from "electron";

export default {
  name: "AppDashboard",
  data() {
    return {
      commits: [],
      repos: [],
      selectedRepo: []
    };
  },
  methods: {
    selectRepo(path) {
      console.log("selected repo");
      Git.getCommits(path).then(result => {
        this.commits = result;
      });
    },

    openFileDialog() {
      ipcRenderer.send("fileDialogOpen");
      ipcRenderer.once("fileDialogResponse", (event, arg) => {
        let path = arg[0];
        let name = path.split("\\").pop();

        this.repos.push({
          name,
          path
        });
      });
    },

    deleteRepo(key) {

      this.repos.splice(key, 1);
      // console.log(key);
    }
  }
};
</script>

<style lang="scss">
@import "../assets/global";
.card {
  width: 15vw;
  height: 200px;
  box-sizing: border-box;
}
.card-header {
  background: #2980b9;
  color: #ecf0f1;
  width: 100%;
  padding: 14px;

  /* box-sizing: content-box; */
}

.card-body {
  width: 100%;
  padding: 14px;
  background: #ecf0f1;
}

.repo {

  border: 1px solid #3e3e3e;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    padding: 8px;
    width: 100%;
    font-weight: 700;
  }

  &-options {
    margin: 0;
    padding: 8px;
    border-left:1px solid grey;
  }
}

.commit {
  width: 75vw;
  min-height: 100px;
  background: white;
}
</style>
