<template>
  <div id="wrapper">
    <div class="getting-started">
      <i class="fas fa-code-branch logo"></i>
      <p>Gitlogger</p>

      <div class="justify-content-around">
        <router-link class="btn btn-start" to="/app">Lets get started</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'landing-page',
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      }
    }
  }
</script>

<style lang="scss">
    @import "../assets/global";
  /* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'); */

  .getting-started {
    position: relative;
    font-size: 1.8rem;
    color: #ECF0F1;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: "Open Sans",sans-serif;
  }

  .logo {
    color: #E74C3C;
    display: block;
    font-size: 8rem;
    padding-top: 100px;
  } 

  .btn-start {
    background: #2980B9;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border:none;
    font-size: 1.4rem;
    padding: 16px;
    display: inline;

    display: flex;
    justify-content: space-around;
    font-family: "Open Sans",sans-serif;
  }
</style>
