<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'gitlogger'
  }
</script>

<style>
  /* CSS */

  body{ 
    background: #2C3E50;
  }
</style>
